# directories
**/dist
**/out/
**/.config/
**/.git/
**/.idea/
**/.nx/
**/.github/
**/.tmp/
**/.vs/
**/sed/
**/AppVeyor/
**/publish/
**/Config/
**/Dats/
**/Logs/
**/db-data/
**/*-tests/
Database/

# files
Dockerfile*
**/.dockerignore*
**/.gitignore*
**/.gitattributes*
**/.editorconfig
**/*.user
**/*.trx
**/*.md
**/*.ps1
**/*.cmd
**/*.sh
**/*.zip
